.secara-umum {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.p-0 {
	padding: 0 !important;
}
.mt-5{
	margin-top: 3rem;
}

.mb-3{
	margin-bottom : 2rem;
}
.w-50 {
	width: 50% !important;
}

.text-white{
	color : white;
}

.jenis-koperasi {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.deskripsi-jenis-koperasi {
	width: 70%;
	text-align: justify;
}

.content-box-o {
	min-height: 35vh;
}

.about-content .lead > font {
	color: white !important;
}

.btn-orange {
	background-color: #ff4530 !important;
}

.about-us-content > h5 ,ul{
	color: white !important;
}

.modal-dialog{
	max-width: 1000px !important;
}

.img-logo-navbar {
	background-color: white;
	padding: 5px 10px;
	border-radius: 25px;
}

.edit-logo-icon {
	position: absolute;
	color: black;
	top: 27px;
	background-color: white;
	padding: 3px 3px 0 5px;
	border-radius: 10px;
}
@media only screen and (max-width: 991px) {
	.jenis-koperasi {
		display: block;
	}

	.deskripsi-jenis-koperasi {
		width: 100%;
}	

}